@media (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 25px;
    }

    .controls button {
        padding: 10px 15px;
        font-size: 15px;
    }
}